<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>controller.sign.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.sign.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassS</servlet-name>
        <servlet-class>controller.sign.ForgotPassS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataCate</servlet-name>
        <servlet-class>controller.loaddata.LoadDataCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataProduct</servlet-name>
        <servlet-class>controller.loaddata.LoadDataProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.admin.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.loaddata.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeProduct</servlet-name>
        <servlet-class>controller.HomeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>controller.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>controller.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <servlet-class>controller.ProcessOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>controller.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrdersServlet</servlet-name>
        <servlet-class>controller.admin.AdminOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>controller.admin.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>controller.sign.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataUser</servlet-name>
        <servlet-class>controller.admin.LoadDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.admin.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmReceivedServlet</servlet-name>
        <servlet-class>controller.ConfirmReceivedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassS</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataCate</servlet-name>
        <url-pattern>/LoadDataCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataProduct</servlet-name>
        <url-pattern>/LoadDataProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeProduct</servlet-name>
        <url-pattern>/HomeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/AddCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/RemoveCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrderServlet</servlet-name>
        <url-pattern>/ProcessOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/ListOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrdersServlet</servlet-name>
        <url-pattern>/adminorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataUser</servlet-name>
        <url-pattern>/LoadDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmReceivedServlet</servlet-name>
        <url-pattern>/confirmreceived</url-pattern>
    </servlet-mapping>
</web-app>
